.navbar {
  background-color: lightblue; /* Dark blue background for the top bar */
  padding: 1rem;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
}

.navbar-filters-container {
  background-color: #E6F0F7; /* The light blue/gray background for the filter section */
  padding: 1rem 2rem;
  border-bottom: 1px solid #D1D9E0; /* Subtle border at the bottom */
  display:flex;
  justify-content: flex-start;
  
}

.navbar-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Ensures vertical alignment */
  gap: 2rem;
}

.filter-group {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Space between label and input */
}

.filter-label {
    font-size: 0.9rem;
    color: #555; /* A muted color for the text labels */
    font-weight: 500;
}

.navbar select,
.navbar input, 
.navbar button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.1rem; /* Slightly larger font size for better readability */
  padding: 0.75rem 1rem; /* Increased padding */
  height: 3rem; /* Increased height */
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  box-sizing: border-box;
}

.navbar button {
    background-color: #4a55e8; /* Example: blue background for button */
    color: white; /* White text for contrast */
    font-weight: bold;
    border-color: #4a55e8; /* Match border color */
  }
  .navbar label {
    display: flex;
    align-items: center; /* This will vertically align the label with the inputs */
    gap: 0.5rem;           /* Adjust this value to control the space */
}

/* ================== Base Styles (Mobile First) ================== */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*/
/* Hide the up/down arrows on number inputs in all browsers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
